.modal {
  background-color: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal_dialog {
  width: 500px;
  position: absolute;
  top: 20px;
  padding: 6;
  background-color: whitesmoke;
  left: 70vh;
  text-align: center;
  
}
